.elementor-field-subgroup:not(.elementor-subgroup-inline) .gloo-term-group {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
}

.elementor-field-subgroup:not(.elementor-subgroup-inline) .gloo-post-group {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
}

.elementor-field-type-upload.gloo-image-upload-ui-wrapper label.elementor-screen-only {
    position: relative;
    width: 100%;
    top: unset;
    height: auto;
    margin: unset;
    clip: unset;
    overflow:visible;
}

.gloo-image-upload-ui-wrapper input {
    color: transparent;
    /* visibility: hidden; */
    opacity:0;
	height:1px;
	width:1px;
    background-color: transparent;
    border:none;
    background-image: none;
    cursor: pointer;
    /*height: 135px;
    width: 180px;*/
}

.gloo-image-upload-ui-wrapper label:before {
    /*content: "";
    inset: 0;
    width: 180px;
    height: 135px;
    border: 1px solid #000;
    display: block;
    z-index: 1;
    background-image: var(--gloo-upload-image-ui-url);
    border-radius: 4px;
    visibility: visible;
    background-size: cover;
    background-position: center;
	position:absolute;
	top:20px;*/
	
    content: "";
    width: 180px; /* overwrite with style options */
    height: 135px; /* overwrite with style options */
	max-width: 100%;
    border: 1px solid #000;
    display: block;
    z-index: 1;
    background-image: var(--gloo-upload-image-ui-url)!important;
    border-radius: 4px;
    visibility: visible;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    bottom: 0;
}

.gloo-image-upload-ui-wrapper label:after {
       content: "";
    width: 180px; /* overwrite with style options */
    height: 135px; /* overwrite with style options */
	max-width: 100%;
    z-index: 2;
    border-radius: 4px;
    visibility: visible;
    background-size: cover;
    background-position: center;
	background-color: #ffffff3b;
    position: absolute;
    top: 20px;
    right: 0;
    bottom: 0;
    left: 0;
	/*content: "";
    inset: 0;
    width: 180px;
    height: 135px;
    z-index: 2;
    border-radius: 4px;
    visibility: visible;
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 0px;
	top:20px;
    background-color: #ffffff;*/
}
.gloo-image-upload-ui-wrapper .gloo-image-preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.gloo-image-upload-ui-wrapper .gloo-image-preview img {
    border: 1px solid #000;
    margin-right: 5px;
    border-radius: 3px;
    margin-bottom: 10px;
}
.gloo_required_message_input{
    border:none!important;
    height:1px!important;
    background: none!important;
    background-color:transparent!important;
    padding:0px!important;
    margin:0px!important;
    outline: none !important;
    text-indent: -9999px;
    overflow: hidden;
}
.gloo-datepicker-inline input[type="gloo_datepicker_field"] {
    display: none;
}
.gloo-datepicker-inline label {
    display: block;
    width: 100%;
}
.color-picker {
    flex-basis: auto !important;
    margin-left: 8px;
}
 
.elementor-field-type-gloo_range_field {
    display: block;
}
.rs-container .rs-pointer {
    box-shadow: none !important;
}
.rs-container .rs-pointer::after, .rs-container .rs-pointer::before {
    display: none !important;
}
.filepond--root {
    width: 100%;
}
.gloo-range-wrap.gloo-field-alignment-center .rs-container {
    margin: 0 auto;
}
.gloo-range-wrap.gloo-field-alignment-right .rs-container {
    margin: 0 0 0 auto;
}
.gloo-range-wrap.gloo-field-alignment-left .rs-container {
    margin: 0 auto 0 0;
}
.iti--allow-dropdown {
    width: 100%;
}
.time_span_field_value { 
    display: flex;
    align-items: center;
    margin-left: 5px;
}
.time_span_field_value span { 
    margin-right: 5px;
}
.elementor-field-type-gloo_composer_field .elementor-field-label {
    display: inline-block;
    width: 100%;
}
.calculated_field_value {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 6px;
}

/* for smaller devices */
@media only screen and (max-width: 579px) {
    .iti.iti--container {
        z-index: 9999 !important;
    }
}